<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Copy Cat</title>
</head>
<body>
    <!--work this out later. need the structure of the sidebar to sit correctly-->
<div> <% include ./partials/navbar.ejs %> </div>

<!-- side nav goes here -->
<div class=container-fluid>
    <div class="row">
        <div class="col-"> <% include ./partials/sidebar.ejs %> </div>
    

<!--main div goes here--> 
      <div class="col-md" id="dashboard-main">
          <!-- using jumbtron to add spacing and depth -->
          <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Enjoy your favorite tunes!</h1>   
                </div>
          </div>
            
            
            <br>
            <!-- <button type="button" class="btn btn-primary btn-lg">Create Playlist</button> -->
                <div>
                    <div class="col-0"><img src=""</div>
                    <div class="col-6"><h1><%= data2[0].dataValues.playlist_title %></h1></div>
                    <div class="row">
                            
                            <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Song Title</th>
                                        <th scope="col">Artist</th>
                                        <th scope="col">Album</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% data2.forEach((info) => {%>
                                      <tr>

                                        <td>
                                            <%= info.dataValues.song_title %>
                                        </td>

                                        <td>
                                            <%= info.dataValues.artist %>
                                        </td>
                                        
                                        <td>
                                            <%= info.dataValues.album_name %>
                                        </td>                                      
                                      </tr>
                                      <% }) %>
                                    </tbody>
                                  </table>
                          </div>
                </div>
        </div>
            
    </div>
</div>
        <!--Form version 2 with playlist created. populate structure as part of dashboard.ejs-->
         <br>
        <br>

       <!--Playlist name and img-->
        <div class="container-fluid">
            
        </div>
      
        <!--Playlist setup-->
        <div class="container">
                
        </div>
        <!--insert playlist song loop here-->
        <!-- <div class="container">
            <div class="row">
                <div class="col-sm">
                          
                </div>
                <div class="col-sm">
                          
                </div>
            </div> -->
        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>